a.out
*.zip
build/
*.o
*.a
CMakeFiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.DS_Store
jgarner_A2
*.ttf
final_project
CMakeLists.txt
